body{
    width: 1510px;
    height: 2000px;
    margin-right: 0px;
}
@font-face {
    font-family: "Lolfont";
    src: url(Lolfont.ttf);
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate(0%, 30%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}
@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translate(100%, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}


.main_part h1{
    font-size: 135px;
    color: rgb(255, 255, 255);
    text-align: left;
    text-shadow: 5px 5px #ff0000;
    z-index: 2;
    font-family: Lolfont;
    animation: slide-up 0.8s ease-in-out forwards;
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 2%;
}

.background1_body{
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 2px 2px #ff0000;
    font-size: 45px;
    z-index: 2;
    font-family: Lolfont;
    margin-top: 21%;
    margin-left: 20px;
    animation: slide-left 1.5s ease-in-out forwards;
}
.line1{
    width: 5px;
    height: 30%;
    background-color: white;
    margin-top: 19%;
    z-index: 2;
    animation: slide-up 1.5s ease-in-out forwards;
    display: flex;
}
.main_part{
    width: 100%;
    height: 500px;
    margin-left: -8px;
    display: flex;
    position: absolute;
    top: 10%;
}
.video_background{
    z-index: -5;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
}
.navigation {
    width: 100%;
    height: 11%;
    margin: -8px;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: space between;
    align-items: center;
    background-color: rgb(109, 9, 9);
    background-image: linear-gradient(rgb(156, 152, 152), rgb(0, 0, 0), rgba(124, 0, 0, 0.774));
}
.navigation_link{
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-left: 410px;
    font-family: Lolfont;
    font-weight: lighter;
}
.logo1 {
    width: 55px;
    position: absolute;
    top: 5px;
    left: 35px;
    list-style-type: none;
}

.dropdownmenu ul, .dropdownmenu li{
    width: 1519px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 200px;
    text-align: center;
}
.dropdownmenu ul{
    list-style: none;
}
.dropdownmenu li{
    padding-right: 50px;
    float: left;
    position: relative;
    width: auto;
}
.dropdownmenu a{
    color: white;
    display: block;
    font-weight: lighter;
    font-size: 15px;
    font-family: Lolfont;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.dropdownmenu li:hover a{
    background-color: rgb(255, 255, 255);
    color: black;
}

#submenu{
    background-color: rgba(255, 255, 255, 0.799);
    visibility: hidden;
}
li:hover ul#submenu{
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    visibility: visible;
    z-index: 2;
}

.main{
    width: 80%;
    height: auto;
    background-color: rgba(173, 29, 29, 0.68);
    border: 5px;
    border-color: rgb(241, 0, 0);
    border-radius: 10px;
    border-style: solid;
    position: absolute;
    top: 800px;
    left: 10%;
    display: flex;
    font-family: Lolfont;
}
.main h1{
    color: white;
    font-family: Lolfont;
    font-size: 100px;
    text-align: center;
    display: flex;
    text-shadow: 5px 5px red;
}

.photocard_container{
    width: 100%;
    height: 550px;
    position: absolute;
    display: flex;
    align-content: center;
    margin-top: 180px;
}

.photocard{
    width: 400px;
    height: 400px;
    margin: 5%;
    border: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(255, 0, 0);
}
.photocard img{
    width: 278px; 
    height: 401px;
    border-radius: 5px;
    object-fit: cover;
    visibility: visible;
    position: absolute;
}
.photocard:hover img{
    filter: blur(10%), brightness(100%);
    z-index: -2;
}
.photocard p{
    visibility:hidden;
    color: white;
    margin-top: 68%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.717);
}
.photocard:hover p{
    visibility: visible;
    animation: slide-up 0.8s ease-in-out forwards;
}
.announcement_container{
    width: 90%;
    height: auto;
    margin-left: 5%;
    background-color: rgb(171, 28, 12);
    position: absolute;
    top: 940px;
    border: 5px;
    border-color: rgba(0, 0, 0, 0.744);
    border-style: solid;
}
.announcement tr, td{
    color: white;
    background-color: rgba(0, 0, 0, 0.635);
}
table p{
    visibility: hidden;
}

table td:hover{
    height: 200px;
}
table td:hover p{
    visibility: visible;
}

.references{
    width: 100%;
    height: 200px;
    background-color: rgba(255, 17, 0, 0.858);
    position: absolute;
    top: 2200px;
    margin: -8px;
    border-top: 3px;
    border-top-color: black;
    border-top-style: solid;
}

.references_media{
    width: 400px;
    height: 60px;
    position: absolute;
    left: 46%;
    top: 10%;
}
.references h3{
    font-size: 30px;
    font-family: Lolfont;
    position: absolute;
    left: 40%;
    top: 30%;
}
.references_media img{
    width: 50px;
}

 ul li ul.dropdown li a{
    display: block;
    padding: 15px 25px;
    text-align: center;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown { 
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: black;
}
ul li:hover ul.dropdown{
    display: block;
}
