@charset "utf-8";

* {
    box-sizing: border-box;
  }
  
  body {
    background-image: url('mgc.mp4');
    font-family: Arial;
    padding: 10px;
    background: black;
    color: white;
  }

  .vbg {
    z-index: -5;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
  }

  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: black;
    padding-left: 20px;
  }
  
  .card {
    background-color: rgb(109, 9, 9);
    padding: 20px;
    margin-top: 20px;
  }

 .read-more {
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(109, 9, 9);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

  .read-more:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row > .column {
    padding: 14px 10px;
    
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
    background-color: rgb(109, 9, 9);
  }

  .rowheader {
    text-align: center;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .navigation {
    width: 100%;
    height: 80px;
    margin-top: -18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(109, 9, 9);
    background-image: linear-gradient(rgb(156, 152, 152), rgb(0, 0, 0), rgba(124, 0, 0, 0.774));
  }
  .navigation_link{
    color: white;
    padding-top: 5px;
    padding-left: 410px;
    font-family: 'Lolfont';
    font-weight: lighter;
  }
  .logo1 {
    width: 55px;
    position: absolute;
    top: 5px;
    left: 35px;
    list-style-type: none;
  }
  
  .dropdownmenu ul, .dropdownmenu li{
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 200px;
    text-align: center;
  }
  
  .dropdownmenu ul{
    list-style: none;
  }

  .dropdownmenu li{
    padding-right: 50px;
    float: left;
    position: relative;
    width: auto;
  }

  .dropdownmenu a{
    color: white;
    display: block;
    font-weight: lighter;
    font-size: 0.9vw;
    font-family: 'Lolfont';
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease-in-out;
  }
  
  .dropdownmenu li:hover a{
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  #submenu {
    background-color: rgba(255, 255, 255, 0.799);
    visibility: hidden;
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%; 
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

li:hover ul#submenu {
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;
    visibility: visible;
    z-index: 2;
}


  .hamburger-icon {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 2;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
  
  @font-face {
    font-family: "Lolfont";
    src: url(beaufort-for-lol/BeaufortforLOL-Bold.ttf);
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 320px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }

    .dropdownmenu a {
      font-size: 0.8vw;
    }
  }
  
  @media screen and (min-width: 361px) and (max-width: 768px) {
    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }
  
    .navigation_link {
      display: none;
  }

  .hamburger-icon {
      display: block;
  }

  .main_menu {
      width: 100%;
      text-align: center;
  }

  .dropdownmenu {
      display: none;
      position: absolute;
      top: 80px;
      transform: translateX(-75%);
      width: 50%;
  }

  .dropdownmenu ul {
      width: 100%;
  }

  .dropdownmenu li {
      float: none;
      position: relative;
      width: 100%;
  }
  
  .dropdownmenu a {
      width: 100%;
  }
}
  @media screen and (min-width: 769px) {

    .navigation_link {
      font-size: 1.3vw;
    }
  }