@font-face {
    font-family: Spigielt;
    src: url(Fonts_Package/Spiegel-OTF/Spiegel-SemiBold.otf);
}
@font-face {
    font-family: Lolfont;
    src: url(Fonts_Package/BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video_background{
    z-index: -5;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
}
.container{
    background-color: rgb(215, 215, 215);
    width: 1300px;
    height: auto;
    margin: auto;
    border: 3px;    
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 30px;
}
.body{
    text-align: left;
}
.body h1{
    margin-bottom: 25px;
    font-family: Spigielt;
}
.body p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 100;
}
.image{
    position: relative;
    float: right;
    margin-left: 50px;
    border: 3px;
    border-style: solid;
    border-color: black;
}


