*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 32px;
    color: #fff;
}

header p {
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
    margin-right: 150px;
    margin-left: 150px;
}

.officers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.profile-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 20px;
    width: 200px;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile-card h2 {
    margin-bottom: 5px;
    color: #333;
}

.profile-card h3 {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

.president {
    border-top: 5px solid #ff6347; /* Red color for President */
}

.vp-external {
    border-top: 5px solid #4682b4; /* SteelBlue color for VP External */
}

.vp-internal {
    border-top: 5px solid #8a2be2; /* BlueViolet color for VP Internal */
}

.secretary {
    border-top: 5px solid #008000; /* Green color for Secretary */
}

.auditor {
    border-top: 5px solid #ff8c00; /* DarkOrange color for Auditor */
}

.game-director {
    border-top: 5px solid #8b4513; /* SaddleBrown color for Game Director */
}
.video_background{
    z-index: -5;
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
}
.footer_container{
    width: 100%;
    height: 200px;
    background-color: rgb(109, 9, 9);
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(124, 0, 0, 0.774));
    position: absolute;
    top: 900px;
    margin: -8px;
    border-top: 3px;
    border-top-color: red;
    border-top-style: solid;
}
.footer ul{
    list-style: none;
}
