body{
    background-color: #141414;
}

@font-face {
    font-family: Akira ;
    src: url(../Fonts/Akira\ Expanded\ Demo.otf);
}

@font-face {
    font-family: BeaufortForLol;
    src: url(../Fonts/BeaufortForLoL-OTF/BeaufortforLOL-Regular.otf);
}

@font-face {
    font-family: BeaufortForLol;
    src: url(../Fonts/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
    font-weight: bold;
}


.fade{
    animation-name: fade !important;
    animation-duration: 1.5s !important;
}

.hero{
    height: 30vw;
    position: relative !important;
}

.hero h1{
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 8vw;
    color: white;
    font-family: BeaufortForLol;
    font-weight: bold;
}

.carousel-inner{
    height: 30vw!important;
}

.cover{
    width: 100%;
    object-fit: cover;
    position: relative !important;
    left: 50%;
    top: 50%;
    transform: translateY(-30%) translateX(-50%);
}

.merchimg:hover{
    transform: scale(1.1);
    transition: .5s ease;
}

.merchimg{
    width: 100%;
    border-radius: 2%;
}

.price{
    padding: 5%;
}

.merch{
    color: white;
    font-family: BeaufortForLol;
    font-weight: bold;
}

.h3{
    margin-top: 10%;
    font-family: BeaufortForLol;
    font-weight: bold;
}

p{
    margin-bottom: 15%;
}

@keyframes fade {
    from{opacity: .4}
    to{opacity: 1}
}